/*---------------RESET CSS----------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------FIN DU RESET-------------------*/




html{
    font-family: 'Poppins', sans-serif;
}

header,main, .banner{
    /* width: 100%; */
    max-width: 1440px;
    /* margin: auto; */
}
/*--Header--*/

header{
    display: flex;
    justify-content: space-between;
    margin: 50px 56px 0 50px;

}
header a{
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
}

.logo_up_left{
    font-family: "Heebo",sans-serif;
    font-size: 36px;
    font-weight: 800;
    color:rgb(51,51,51);
    font-size: 36px;
}
.nav_top{
    width: 50%;
    min-width: 700px;
}
.nav label, #menu_checkbox{
    display: none;
}
.bloc_menu{
    display: flex;
    justify-content:space-between ;

}
li{
    list-style: none;
    font-weight: 500;
    font-size: 24px;
    color:rgb(51,51,51) ;
}

/*--Body--*/

.banner{
    margin-left: 50px;
}
.banner_ask{
    font-size: 18px;
    font-weight: 500px;
    color: rgba(45, 156, 219, 1);
    margin-left: 20%;
    margin-top: 96px;
    
}
.banner_title{
    display: block;
    width: 550px;
    font-size: 48px;
    font-weight: 500px;
    color: rgb(51,51,51);
    margin-left: 20%;
    margin-top: 16px;
    margin-bottom: 42px;
    
}
.banner_photo{
    width: 100%;
    border-radius: 20px;
    text-align: center;
    margin-top: 42px;
    margin-bottom: 42px;
}
.banner_call_to_action{
    margin-left: 20%;
    width: 380px;
}
.banner_h2{
    display: block;
    font-size: 48px;
    font-weight: 500px;
    color: rgb(51,51,51);
    margin-left: 0;
}
.banner_p{
    font-size: 18px;
    color: rgba(79,79,79,1);
    font-weight: 400 ;
    margin-bottom: 42px;
}
.banner_input label, .footer_input label{
    display: block;
    font-size: 14px;
    color: rgba(130, 130, 130, 1);
}
.banner .input_newsletter{
    font-family: "'Poppins', sans-serif";
}
.input_and_btn{
    width: fit-content;
    padding: 3px;
    margin-top: 9px;
    border-radius: 13px;
    background-color: rgba(242, 242, 242, 1); 
}
.input_newsletter{
    background-color: rgba(242, 242, 242, 1);
    color: white;
    border: none;
}
.btn_join{
    width: fit-content;
    font: 18px;
    padding: 11px 28px;
    border-radius: 10px;
    background-color: rgba(45, 156, 219, 1);
    color: white;
    border: none;
}

.bloc_offer{
    margin-top: 194px;
    margin-left: 15%;  
}
.bloc_offer span{
    display: block;
    font-size: 36px;
    font-weight: 500;
    width: 330px;
}
.cards{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    margin-top: 42px;
    margin-bottom:195px;
}
.card{
    width: 310px;
    height: auto;
    padding: 67px 0 67px 34px;
}
.card_title{
    font-size: 24px;
    font-weight: 700;
    margin-top: 35px;
}
.card_text{
    margin-top: 24px;
}



.card:hover{
    box-shadow: 0px 0px 20px 16px rgb(51 51 51 / 10%);
    border-radius: 27px;
}
.card:hover >.btn_card{
    background-color: rgba(45, 156, 219, 1);
    color: rgba(255,255,255, 1);
}

.icon_card{
    font-size: 67px;
    /* padding: 5px; */
    color: white;
    background-color: blue;
    border-radius: 26px;
    padding: 21px
}
.icon1{
    background-color: rgba(45, 156, 219, 1);
}
.icon2{
    background: rgba(39, 174, 96, 1);
}
.icon3{
    background: rgba(235, 87, 87, 1);
}
.card_text{
    display: block;
    width: 273px;
    height: 96px;
    margin-bottom: 39px;
}
.btn_card{
    width: 116px;
    height: 42px;
    font-size: 16px;
    font-weight: 500px;
    color: rgba(130, 130, 130, 1)    ;
    background-color: rgba(224, 224, 224, 1)    ;
    border-radius: 15px;
    padding: 12px;
    margin-top: 30px;
    text-decoration: none;
}
.good_design{
    font-size: 36px;
    width: 400px;
    font-weight: 500;
}
.bloc_gallery{
    margin-left: 15%;
}
.bloc_gallery_pics{
    display: grid;
    margin-top: 12px;
}
.onboard_card{
    grid-column: none;
}
.smarthome_card{ 
    margin-top: 176px;
    /* position: relative;
    top: 100px; */
}
.booking_card{ 
    margin-top: 150px;
    margin-right: 20px;
}
.gallery_card img{
    border-radius: 18px;
    margin-bottom: 20px;
}
.gallery_card_text1{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 26px;
}
.gallery_card_text2{
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 106px; */
}
.see_more_gallery a{
    color: rgba(45, 156, 219, 1);
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    ;

}
.see_more_gallery{
    top: -40px;
    text-align: end;
    position: relative;
    right: 28px;
}
.see_more_gallery a span{
    position: relative;
    top: 5px;
    font-weight: 500;
}

.bloc_team{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 170px;
    margin-top: 220px;
}
.team_description{
    width: 280px;
    height: fit-content;
}
.meet_team{
    font-size: 18px;
    color:rgba(235, 87, 87, 1);
    font-weight: 500;
}
.chilled_team{
    font-size: 36px;
    font-weight: 500;
}
.bloc_team p{
    font-size: 16px;
    font-weight: 400;
}
.teams_pictures{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.teams_pictures img{
    border-radius: 20px;
}
.teams_pic1{
    margin-right: 24px;
}
.teams_pic2{
        margin-bottom: 20px;
}

.quote1{
    
    padding-right: 120px;
}
.quote_customer{
    font-size: 36px;
    font-weight: 500;
    width: 937px;
    margin-left: 165px;
    margin-bottom: 203px;
    margin-top: 196px;
    padding-right: 120px;
}
.customer_profil{
    height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 45px;
}
.customer_pic{
    height: 82px;
}
.customer_pic img{
    border-radius: 10px;
    width: 82px;
}
.customer_name_society{
    margin: 5px auto 5px 30px;
}
.customer_name{
    font-size: 24px;
    width: fit-content;
    margin-bottom: 12px;
}

.customer_society{
    font-size: 18px;
    color: rgba(130, 130, 130, 1);
}

footer{
    
    margin: 0;
    background-color: rgba(16, 14, 29, 1)
}
.foot_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 400;
    height: 344px; 
    background-color: rgba(16, 14, 29, 1);
    color: rgba(255, 255, 255, 1);
    padding: 20px 150px 0;
    /* padding:50px 10% 10px 15% */
}
.nav_bottom ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
}
footer li{
    font-size: 18px;
    font-weight: 400;
    color:rgba(255, 255, 255, 1);
}

.copyright{
    text-align: center;
    color: grey;
    padding-top: 25px;
    padding-bottom: 10px;
}
.copyright a{
    text-decoration: none;
    color: rgba(130, 130, 130, 1);
}
footer a{
    text-decoration: none;
    color: rgba(255,255,255, 1);
}
.footer_social{
    font-size: 36px;
    font-weight: 800;
}

@media screen and (max-width:1000px){
    .logo_up_left{
        font-size: 24px;
        font-weight: 800;  
    }
    .nav_top{
        width: auto;
        min-width: initial;
    }

    /*---test menu nav----*/
    .bloc_menu{
        display: none;
        flex-direction: column;
        background-color: yellow;
        height: 220px;
    }
    .bloc_menu a{
        width:50%;
    }

    .nav_top label{
        display: block;
        position: absolute;
    left: 280px;
    }
    .nav_top:hover .bloc_menu{
        display: flex;
        position: absolute;
    }
    /*-------*/
    .menu_icon{
        display: flex;
    }
    .banner{
        margin-left: 0px;
    } 
    .banner_ask{
        font-size: 12px;
        font-weight: 500px;
        margin-left: 40px;
        margin-top: 48px;
    }
    .banner_title{
        width: 272px;
        font-size: 24px;
        line-height: 36px;
        margin-left: 40px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .banner_image{
        /* background-color: brown; */
       
        margin: 0px auto 22px auto;
    }
    .banner_photo{
        /* height: auto; */
        width:360px;
        margin: 0 0 0 10px;
        border-radius: 20px;       
    }
    .banner_call_to_action{
        margin-left: 40px;
        width: auto;
    }
    .banner_h2{
        font-size: 24px;
        width: 210px;
        line-height: 36px;
    }
    .banner_p{
        font-size: 12px;
        width: 275px;
        margin-top: 33px;
        margin-bottom: 31px;
    }
    .banner label, .footer_input label{
        font-size: 10px;
    }

    .bloc_offer{
        margin-top: 102px;
        margin-left: 0;
    }
    .bloc_offer span{
        font-size:24px;
        line-height: 36px;
        width: 259px;
        margin-left: 49px;
    }
    .cards{
        flex-direction: column;
        margin-top: 46px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .card{
        box-shadow: 0px 0px 20px 16px rgb(51 51 51 / 10%);
        border-radius: 27px;
        width: 310px;
        height: auto;
        padding: 67px 0 67px 33px;
        margin-bottom: 72px;
        margin-left: 15px;
    }
    .good_design{
        font-size: 24px;
        line-height: 36px;
        width: 260px;
        margin-top: 28px;
        margin-bottom: 12px;
        margin-left: 35px;
        
    }
    .bloc_gallery{
        margin-left: 10px;
    }
    .bloc_gallery_pics{
        display:block;
        
    }
    .gallery_card{
        width: 350px;
        margin-top: 36px;
    }
    .gallery_card img{
        width: 350px;
        margin-bottom: 13px;
    }
    .gallery_card_text1{
        margin-bottom: 0;
    }
    .see_more_gallery{
        position: inherit;
        text-align: start;
        margin-top: 35px;
    }
    .bloc_team{
        display:block;
        margin-top: 100px;
        margin-left: 10px;
    }
    .meet_team{
        font-size: 18px;
    }
    .chilled_team{
        width: 280px;
        font-size: 36px;
        line-height: 54px;
        margin-top: 7px;
        margin-bottom: 14px;
    }
    .teams_pictures{
        margin-top: 36px;
        margin-right: 15px;
        justify-content: flex-start;
    }
    .teams_pictures img{
        width: 171px;
    }
    .teams_pic1{
        margin-right: 9px;
    }
    .quote_customer{
        font-size: 24px;
        line-height: 36px;
        font-weight: 500;
        width: 351px;
        margin-left: 10px;
        margin-bottom: 100px;
        margin-top: 100px;
        padding-right: 0px;
    }
    .quote1{
        padding: 0;
    }
    .quote1 p{
        margin-bottom: 10px;
    }
    .customer_profil{
        margin-top: 0;
    }
    footer{
        
        padding: 0px;
    }
    .foot_container{
        display: block;
        height: auto;
        padding: 0 41px;
    }

    .footer_social{
        margin-top: 64px;
        margin-bottom: 64px;;
    }
    .footer_input label{
        max-width: max-content;
    }
}